// Place all the styles related to the trees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tree_name {
	a {
	text-decoration: none;
	}
}

.initial_svg {
	width: 500px;
	height: 500px;
}

.initial_rect {
	fill: steelblue;
	text-anchor: middle;
}

.rect {
	border-radius: 15px;
	stroke-width:1;
	stroke:rgb(0,0,0);
	cursor: pointer;
}

.options_modal {
	width: 100px;
	height: 125px;
	position: absolute;
	left: -400px;
	top: 0;
	border: black solid 1px;
	text-align: center;
	background-color: #89C9FF;
}

.options_list {
	padding: 0;
	list-style-type: none;
}

.option_item {
	cursor: pointer;
	span {
		font-size: 20px;
	}
}

.close_modal {
	position: absolute;
	left: 90%;
	bottom: 0;
	cursor: pointer;
}

.edit_familymember {
	width: 150px;
	height: 300px;
	position: absolute;
	border: black solid 1px;
	background-color: #89C9FF;
	
}

.close_edit_form {
		position: relative;
		left: 0;
		bottom: 0;
		cursor: pointer;
	}

.main_svg {
	width: 1000px;
	height: 1000px;
	.main_g {
		transform: translate(50, 50);
	}
}

.new_familymember {
	width: 150px;
	height: 300px;
	position: absolute;
	border: black solid 1px;
	background-color: #89C9FF;
}

.new_partner_relationship {
	width: 100px;
	height: 100px;
	position: absolute;
	border: black solid 1px;
	background-color: #89C9FF;
}
