// Place all the styles related to the trees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.first_familymember_div {
	text-align: center;
}

.tree_name {
	a {
	text-decoration: none;
	}
}

.edit_tree {
	text-align: center;
	margin-top: 10px;
	input {
		background-color: transparent;
		border: none;
		text-align: center;
		font: 25px $lato;
		color: $chambray;
	}
	:focus {
		outline: none;
	}
}

text {
	cursor: pointer;
}

.rect {
	stroke-width:1;
	stroke:rgb(0,0,0);
	cursor: pointer;
}

.options_modal {
	width: 200px;
	height: 200px;
	position: absolute;
	opacity: 0;
	left: -1200px;
	top: 0;
	border-radius: 15px;
	text-align: center;
	.fa-3x {
		color: $chambray;
		font-size: 3em;
		transition: font-size 0.3s;
		&:hover {
			font-size: 3.5em;
		}
	}
	.fa-times {
		&:hover {
		font-size: 3em;
		}
	}
}

.modal_options {
	position:absolute;
	left: 42.5%;
	top: 40%;
	cursor: pointer;
}

.close_modal {
	position: absolute;
	left: 42.5%;
	top: 40%;
	cursor: pointer;
	color: $chambray;
	opacity: 0.3;
	transition: opacity 5.0s;
	&:hover{
		opacity: 1.0;
	}
}

.edit_familymember,
.new_familymember {
	width: 150px;
	height: 220px;
	position: absolute;
	border-radius: 15px;
	background-color: $chambray;
	color: $white;
	
}

.close_edit_form {
		position: relative;
		left: 0;
		bottom: 0;
		cursor: pointer;
	}

.main_svg {
	width: 100%;
}

.new_partner_relationship {
	width: 100px;
	height: 100px;
	position: absolute;
	border: black solid 1px;
	background-color: #89C9FF;
}

.deg30 {transform: rotate(30deg) translate(90px) rotate(-30deg); }
.deg90 {transform: rotate(90deg) translate(90px) rotate(-90deg); }
.deg150 {transform: rotate(150deg) translate(90px) rotate(-150deg); }
.deg210 {transform: rotate(210deg) translate(90px) rotate(-210deg); }
.deg270 {transform: rotate(270deg) translate(90px) rotate(-270deg); }
.deg330 {transform: rotate(330deg) translate(90px) rotate(-330deg); }




