.trees_container {

}

.new_tree {
	text-align: center;
}

.new_tree_heading {
	text-align: center;
	color: $chambray;
}

.tree_name {
	text-align: center;
	margin: 30px 0;
	font-size: 30px;
	.tree_link {
		color: $chambray;
		transition: border 3.0s;
		&:hover {
		border-bottom: $chambray solid 2px;
		}
	}
	
}

.tree_destroy {
	color: white;
	transition: color 0.5s;
	&:hover {
		color: $red;
	}
}

.filter {
	width: 100%;
	height: 100%;
	min-height: 500px;
	position: absolute;
	background-color: $offwhite;
	opacity: 0.8;
	z-index: -9;
}