// font-stacks
$droid: 'Droid Serif', serif;
$josefin: 'Josefin Sans', sans-serif;

// colors
$green: #2C946E;
$red: #C51531;
$chambray: #4E5783;

// grayscales 
$black: #555;
$darkGray: #777;
$gray: #AAA;
$lightGray: #CCC;
$offwhite: #EEE;
$white: #FFF;
// backgrounds

$transparentGray: rgba(80, 80, 80, 0.7);